<div class = "panel panel-default">
  <div class = "panel-heading">
    Supervised Learning and Optimization
  </div>
  <ul class = "list-group nav">
    <a href="{{site.url}}/" class="list-group-item">Linear Regression</a>
    <a href="#" data-target="#" data-toggle="pill" class="list-group-item">Logistic Regression</a></li>
    <a href="#" class="list-group-item">Vectorization</a>
    <a href="#" class="list-group-item">Debugging: Gradient Checking</a>
    <a href="{{site.url}}/author" class="list-group-item">Softmax Regression</a>
  </ul>
</div>
